.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;

}
.imgRelogio{
    padding-top: 100px;
    width: 300px;
    height: 300px;
}
.txtTempo{
    font-size: 70px;
    color: aliceblue;
    margin-top: -160px;
    font-family: Arial, Helvetica, sans-serif;
}
.areabtn{
    margin-top: 30px;
    display: flex;
}
.botao{
    margin: 10px;
    flex-direction: row;
    background-color: red;
    border-radius: 20px;
    width: 50px;
    padding: 5px;
    align-items: center;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
}
.botao:hover{
    opacity: 0.5;
    color:black;
    transition: all 0.50s;
}